@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Morpheus';
    src: url('MORPHEUS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
